{% extends 'base.html.twig' %}

{% block title %}
	BZFS Instances
{% endblock %}

{% block header %}
	<h1>BZFS Instances</h1>
{% endblock %}

{% block body %}
	{% for msg in flash('launch_error') %}
	<div class="alert alert-block alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Error!</h4>
		<pre>{{ msg }}</pre>
	</div>
	{% endfor %}

	{% for msg in flash('command_line') %}
	<div class="alert alert-block alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Command line:</h4>
		<pre>{{ msg }}</pre>
	</div>
	{% endfor %}

	{% for msg in flash('pid_error') %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Error!</strong> {{ msg }}
	</div>
	{% endfor %}

	{% for msg in flash('pid_success') %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Success!</strong> {{ msg }}
	</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>Port</th>
				<th>Scores</th>
			</tr>
		</thead>
		<tbody>
			{% for proc in procs %}
				<tr>
					<td>{{proc.port}}</td>
					<td><pre>{{proc.scores}}</pre></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
